{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/myjs.js' %}   "></script>
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}   "></link>
    <meta charset="UTF-8 ">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <!--NAVAR-->

    <div class="navbar-fixed ">
        <nav class="nav-extended teal lighten-1 ">
            <div class="nav-wrapper ">
                <a href="#" class="brand-logo"><img id="logo" class="responsive-img" src="{% static 'images/logos/logo1.png' %}" /></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a class="waves-effect waves-light modal-trigger" href="#modal1">Iniciar Sesion</a>
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                                <h4>Modal Header</h4>
                                <p>A bunch of text</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Salir</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="waves-effect waves-light modal-trigger" href="#modal1">Registrarse</a>
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                                <h4>Modal Header</h4>
                                <p>A bunch of text</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Salir</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
        </ul>
    </div>
    <!--Parallax-->
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'images/parallax1.jpg'%}"></div>
    </div>
    <div class="section white">
        <div class="row container containerProducts">
            <h2 class="header">Productos</h2>
            {% for p in producto %}
            <div class="col s12 m6 l3 xl3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{p.imagen.url}}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{p.nombre}}</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{p.nombre}}<i class="material-icons right">close</i></span>
                        <p>{{p.descripcion}}.</p>
                    </div>
                </div>

            </div>
            {% endfor %}


        </div>
    </div>
    <div class="parallax-container ">
        <div class="parallax "><img src="{% static 'images/parallax2.jpg' %} "></div>
    </div>
    <div class="section white ">

    </div>
    <!--footer-->
    <footer class="page-footer teal lighten-1 ">
        <div class="container ">
            <div class="row ">
                <div class="col l6 s12 ">
                    <h5 class="white-text ">Deca Inc</h5>
                    <p class="grey-text text-lighten-4 ">Encuentra todos los productos de la mejores marcas en un solo lugar.</p>
                </div>
                <div class="col l4 offset-l2 s12 ">
                    <h5 class="white-text ">Ayuda</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3 " target="_blank " href="https://youtube.com/aunnosuboelvideoxd ">Como Comprar</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright ">
            <div class="container ">
                © 2018 Copyright Text
            </div>
        </div>
    </footer>



    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript " src="{% static 'js/materialize.min.js' %} "></script>

</body>

</html>